@font-face {
	font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf'); 
}
@font-face {
	font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat-Black.ttf'); 
}
@font-face {
	font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf'); 
}
@font-face {
	font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf'); 
}
@font-face {
	font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf'); 
}
@font-face {
	font-family: 'Montserrat-ExtraLight';
    src: url('../fonts/Montserrat-ExtraLight.ttf'); 
}
@font-face {
	font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf'); 
}
@font-face {
	font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf'); 
}
@font-face {
	font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.ttf'); 
}
@font-face {
	font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.ttf'); 
}
@font-face {
	font-family: 'Lato-Hairline';
    src: url('../fonts/Lato-Hairline.ttf'); 
}
@font-face {
	font-family: 'Lato-BlackItalic';
    src: url('../fonts/Lato-Regular.ttf'); 
}
@font-face {
	font-family: 'Lato-BoldItalic';
    src: url('../fonts/Lato-Black.ttf'); 
}
@font-face {
	font-family: 'Lato-Italic';
    src: url('../fonts/Lato-Bold.ttf'); 
}
@font-face {
	font-family: 'Lato-LightItalic';
    src: url('../fonts/Lato-Hairline.ttf'); 
}
@font-face {
	font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.ttf'); 
}
@font-face {
	font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.ttf'); 
}
@font-face {
	font-family: 'Oswald-Light';
    src: url('../fonts/Oswald-Light.ttf'); 
}
@font-face {
	font-family: 'Oswald-Medium';	 	
    src: url('../fonts/Oswald-Medium.ttf'); 
}
@font-face {
	font-family: 'Oswald-SemiBold';	 	
    src: url('../fonts/Oswald-SemiBold.ttf'); 
}
@font-face {
	font-family: 'Pacifico-Regular';	 	
    src: url('../fonts/Pacifico-Regular.ttf'); 
}
@font-face {
	font-family: 'Merienda-Bold';	 	
    src: url('../fonts/Pacifico-Regular.ttf'); 
}

body {
	margin: 0;
	padding: 0;
	background: #ededed;
}
a {
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 0;
	font-family: 'Montserrat-Medium';
}
h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	vertical-align: bottom;
	-webkit-transition: all .3s ease-in-out;
  	-o-transition: all .3s ease-in-out;
  	transition: all .3s ease-in-out;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.cf {
	display: table;
	clear: both;
	content: '';
}
.flex-wrapper {
	max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper {
	max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* SCROLL */

.scroll a span {
	position: absolute;
	bottom: 5%;
	left: 50%;
	width: 35px;
	height: 70px;
	margin-left: -15px;
	border: 2px solid #cd0a2d;
	border-radius: 70px;
	box-sizing: border-box;
}
.scroll a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 5px;
	height: 5px;
	margin-left: -2px;
	background-color: #cd0a2d;
	border-radius: 100%;
	-webkit-animation: point 2s infinite;
	animation: point 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes point {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 40px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes point {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 40px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 768px) {
	.scroll a span {
		width: 30px;
  		height: 55px;
	}
	@-webkit-keyframes point {
	  0% {
	    -webkit-transform: translate(0, 0);
	    opacity: 0;
	  }
	  40% {
	    opacity: 1;
	  }
	  80% {
	    -webkit-transform: translate(0, 30px);
	    opacity: 0;
	  }
	  100% {
	    opacity: 0;
	  }
	}
	@keyframes point {
	  0% {
	    transform: translate(0, 0);
	    opacity: 0;
	  }
	  40% {
	    opacity: 1;
	  }
	  80% {
	    transform: translate(0, 30px);
	    opacity: 0;
	  }
	  100% {
	    opacity: 0;
	  }
	}
}

/* HEADER */

header {
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.header-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	-webkit-transition: all .3s ease-in-out;
  	-o-transition: all .3s ease-in-out;
  	transition: all .3s ease-in-out;
}
@media only screen and (max-width: 1370px) {
	.header-top {
	    padding: 15px;
	}
}
.header-active {
	background: #cd0a2d;
	padding: 5px 15px;
}
.logo img {
	width: 100%;
	-webkit-transition: all .3s ease-in-out;
  	-o-transition: all .3s ease-in-out;
  	transition: all .3s ease-in-out;
}
.logo-active img {
	width: 60%;
}
@media only screen and (max-width: 1200px) {
	.logo img {
		width: 70%;
	}
}
@media only screen and (max-width: 375px) {
	.logo img {
		width: 50%;
	}
}
@media only screen and (max-width: 1200px) {
	.nav-top {
		display: block;
	    position: absolute;
	    max-width: 600px;
	    width: 100%;
	    box-sizing: border-box;
	    top: 0px;
	    padding: 8em 6em;
	    height: 100vh;
	    right: 0;
	    z-index: -1;
	    background: rgba(205, 10, 45, .95);
	    transform: translateX(600px);
	  	transition: transform .8s;
  		transition-timing-function: cubic-bezier(.29,.06,.15,.93);
	}
}
@media only screen and (max-height: 823px) {
	.nav-top {
		padding: 10em 0;
	}
}	
@media only screen and (max-height: 700px) {
	.nav-top {
		padding: 8em 0;
	}
}
@media only screen and (max-height: 640px) {
	.nav-top {
		padding: 5em 0;
	}
}
.nav-top-active {
	transform: translateX(0px);
}
.nav-top ul {
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 1200px) {
	.nav-top ul {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 2em;
	}	
}
.nav-top ul li a {
	font-size: 16px;
	display: block;
	padding: 0 15px;
	position: relative;	
}
@media only screen and (max-width: 1200px) {
	.nav-top ul li a {
		font-size: 20px;
		margin-bottom: 80px;
		font-weight: 700;
		letter-spacing: 4px;
	}
}
@media only screen and (max-height: 823px) {
	.nav-top ul li a {
		margin-bottom: 25px;
	}
}
.nav-top ul li a:before {
	content: "";
	position: absolute;
	top: -11px;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 30px;
	z-index: -1;
	-webkit-transform: scale(0.6, 1);
	      transform: scale(0.6, 1);
	opacity: 0;
	padding: 8px 0;
}
.nav-top ul li a:hover {
	color: #fff;
}
.nav-top ul li a:hover:before {
	-webkit-transform: scale(1, 1);
	        transform: scale(1, 1);
	opacity: 1;
	transition: all 0.2s linear 0s;
	z-index: 999;
}
.nav-top-a {
	font-size: 14px !important;
}
.socials {
	display: flex;
	margin-left: 80px;
}
@media only screen and (max-width: 1370px) {
	.socials {
		margin-left: 50px;
	}
}
@media only screen and (max-width: 1200px) {
	.socials {
		margin-left: 0;
	}
}
.socials .white-circle a {
	font-size: 16px;
	display: block;
	padding: 15px;
}
@media only screen and (max-width: 1200px) {
	.socials .white-circle a {
		margin-bottom: 0;
	}
}
.socials .white-circle a:hover:before {
	display: none;
}
.fa-facebook-f:before {
    content: "\f39e";
    position: absolute;
    top: 16px;
    left: 17px;
}
.fa-google-plus-g:before {
    content: "\f0d5";
    position: absolute;
    top: 16px;
    left: 13px;
}
.fa-twitter:before {
    content: "\f099";
    position: absolute;
    top: 16px;
    left: 15px;
}
.fa-youtube:before {
    content: "\f167";
    position: absolute;
    top: 16px;
    left: 14px;
}
.white-circle {
	width: 44px;
    height: 44px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
  	-o-transition: all .3s ease-in-out;
  	transition: all .3s ease-in-out;
}
.white-circle:hover {
	transform: scale(.8);
	-webkit-transform: scale(.8);
}
.white-circle:nth-of-type(4) {
	margin-right: 0;
}
.white-circle a {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    display: block;
    padding: 10px 12px;
}

/* HAMBURGER */

.btn5 {
	display: none;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translate(-50%, -50%);
    right: -13px;
}
@media only screen and (max-width: 1200px) {
	.btn5{
	    display: block;
	}
}
.btn5 .icon {
    transition-duration: .4s;
    position: absolute;
    height: 2px;
    right: 0;
    width: 30px;
    top: 50%;
    background-color: #fff;
    border-radius: 15px;
    transform: rotate(180deg);
}
.btn5 .icon:before {
    transition-duration: .4s;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    content: "";
    top: -10px;
    border-radius: 15px;
}
.btn5 .icon:after {
    transition-duration: .4s;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    content: "";
    top: 10px;
    border-radius: 15px;
}
.btn5.open .icon {
	transition: .4s;
}
.btn5.open .icon:before {
	-webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -4px);
	      	transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -4px);
}
.btn5.open .icon:after {
	-webkit-transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 4px);
			transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 4px);
}
.btn5:hover {
	cursor: pointer;
}

/* BANNER */

.banner {
	background: url(../images/header-images/main_bkg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
}
.red-triangle {
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 1046px 928px 0;
    border-color: transparent #cd0a2d transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all .5s;
 	-o-transition: all .5s;
  	transition: all .5s;	
}
@media only screen and (max-width: 768px) {
	.red-triangle {
	 	border-width: 0px 405px 760px 0;	
	}
}
@media only screen and (max-width: 411px) {
	.red-triangle {
	 	border-width: 0px 405px 606px 0;	
	}
}
@media only screen and (max-width: 360px) {
	.red-triangle {
	 	border-width: 0px 318px 531px 0;	
	}
}
.heading { 
    z-index: 1;
	width: 80%;
	text-align: center;
}
.heading h1 {
	text-transform: lowercase;
    font-family: 'Pacifico-Regular'; 
    font-size: 60px;
    color: #fff;
}
@media only screen and (max-width: 768px) {
	.heading h1 {
		font-size: 40px;
	}
}
@media only screen and (max-width: 320px) {
	.heading h1 {
		font-size: 30px;
	}
}
.huge-motor {
    text-align: center;
}
.huge-motor img {
	position: relative;
    width: 75%;
    top: 30px;
}
@media only screen and (max-width: 320px) {
	.huge-motor img {
	    top: 20px;
	}
}
/* TOUR PACKAGE */

.tour-package {
	padding: 10px 0 40px 0;
}
.tour-package .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.box-holder {
	width: 30%;
	margin-right: 3.3333%;
}
@media only screen and (max-width: 768px) {
	.box-holder {
		width: 73%;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.box-holder:nth-of-type(3) {
		margin-bottom: 0;
	}
}
.box-holder:nth-of-type(3) {
	margin-right: 0;
}
.img-holder {
	width: 100%;
	height: 350px;
	position: relative;
	-webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.img-holder img {
	height: 100%;
	object-fit: cover;
	filter: grayscale(100%);
	width: 100%;
}
.img-holder:hover img {
	transform: rotate(2deg);
	filter: grayscale(0%);
} 
@media only screen and (max-width: 768px) {
	.img-holder:hover img {
		transform: none;
	}
}
.img-holder:before {
	content: '';
	position: absolute;
	bottom: -18px;
	left: -14px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 190px 0 0 160px;
	border-color: transparent transparent transparent #cd0a2d;
	-webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	z-index: 1;
}
@media only screen and (max-width: 768px) {
	.img-holder:before {
		bottom: 0;
		left: 0;
	}
}
.img-holder:hover:before {
	border-color: transparent transparent transparent #ededed;
}
.img-holder:hover .cost-holder > span, 
.img-holder:hover .cost-holder > p  {
	color: #cd0a2d;
}
.img-holder .cost-holder {
	position: absolute;
	bottom: 14px;
	left: 0;
	z-index: 2;
}
@media only screen and (max-width: 768px) {
	.img-holder .cost-holder {
		bottom: 16px;
    	left: 20px;
	}
}
.img-holder .dollar,
.img-holder .number {
	font-family: 'Oswald-Bold';	
	color: #fff;
	-webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.img-holder .dollar {
	font-size: 35px;
}
.img-holder .number {
	font-size: 50px;
}
.img-holder p {
	padding: 2px 0 0 0;
	margin: 0;
	font-family: 'Oswald-Light';
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	-webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.txt-holder {
	padding: 40px 15px 15px 0;
	text-align: left;
}
@media only screen and (max-width: 768px) {
	.txt-holder {
		padding:20px 0px 0px 0px;
	}
}
.txt-holder span {
    font-family: 'Oswald-SemiBold';
    font-size: 26px;
}
@media only screen and (max-width: 768px) {
	.txt-holder span {
		font-size: 24px;
	}
}
.txt-holder p {
    font-family: 'Lato-Regular';
    font-size: 18px;
    color: #676767;
}
@media only screen and (max-width: 768px) {
	.txt-holder p {
		font-size: 16px;
	}
}
.button {
	width: 130px;
    height: 40px;
	background: #cd0a2d;
	border: none;
	outline: none;
	text-align: center;
	border-radius: 54px;
	transition: .4s all ease;
	padding-left: 18px;
}
@media only screen and (max-width: 768px) {
	.button {
	    width: 110px;
	    height: 30px;
	}
}
.button:hover {
	width: 150px;
}
.button:after {
	content: "→";
	position:relative;
	opacity: 0;
	left: -4px;
	bottom: 3px;
	color: #fff;
	font-size: 17px;
	transition: all ease .4s;
}
@media only screen and (max-width: 768px) {
	.button:after {
	    bottom: 2px;
	}
}
.button:hover:after {
	  opacity: 1;
	  left: 8px;
}
.button a {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Oswald-Bold';
	cursor: pointer;
}
@media only screen and (max-width: 768px) {
	.button a {
	    font-size: 15px;
	}
}

/* ABOUT */

.about {
	width: 100%;
	position: relative;
}
.img-content {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-44%, -49%);
    z-index: 1;
}
.about img {
	width: 80%;
}
@media only screen and (max-width: 1110px) {
	.about img {
	    display: none;
	}
}
.red-box {
	float: left;
	width: 50%;
	background: #cd0a2d;
	box-sizing: border-box;
    padding: 40px 10px 60px 10px;
}
@media only screen and (max-width: 1110px) {
	.red-box {
	    padding: 28px 5px;
	}
}
@media only screen and (max-width: 869px) {
	.red-box {
	    float: none;
	    width: 100%;
	}
}
.red-content {
	width: 69%;
	float: right;
	padding-right: 15px;
}
@media only screen and (max-width: 1110px) {
	.red-content {
	    width: 100%;
	    float: none;
	    padding: 0;
	    text-align: center;
	}
}
.red-content h2 {
	font-size: 64px;
	color: #fff;
	font-family: 'Oswald-Bold';
	margin-bottom: 20px; 
}
@media only screen and (max-width: 1110px) {
	.red-content h2 {
	    font-size: 50px;
	}
}
.red-content span {
	font-size: 22px;
	color: #fff;
	font-family: 'Oswald-SemiBold';
}
@media only screen and (max-width: 1110px) {
	.red-content span {
	    font-size: 20px;
	}
}
.red-content p {
	font-size: 18px;
	color: #e37689;
	font-family: 'Lato-Regular';
	width: 80%;
}
@media only screen and (max-width: 1110px) {
	.red-content p {
	    font-size: 16px;
	    width: 100%;
	}
}
@media only screen and (max-width: 869px) {
	.red-content p {
	    width: 80%;
	    margin: 10px auto;
	}
}
.yellow-box {
	float: left;
	width: 50%;
	background: #cdbd0a;
	position: relative;
	top: 40px;
	padding: 55px 10px;
	box-sizing: border-box;
}
@media only screen and (max-width: 1110px) {
	.yellow-box {
		padding: 28px 5px;
	}
}
@media only screen and (max-width: 375px) {
	.yellow-box {
		padding: 25px 2px;
	}
}
@media only screen and (max-width: 869px) {
	.yellow-box {
		width: 100%;
		top: 0;
	}
}
.yellow-content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
}
@media only screen and (max-width: 1110px) {
	.yellow-content {
		padding: 5px 0;
	}
}
.yellow-content:nth-of-type(2) {
	flex-direction: row-reverse;
}
@media only screen and (max-width: 1110px) {
	.yellow-content:nth-of-type(2) {
		flex-direction: row;
	}
}
.rider-img-1,
.rider-img-2,
.rider-img-3 {
	width: 110px;
    height: 110px;
	border: 4px solid #dcdcdc;
	border-radius: 50%;
    position: relative;
    background: transparent;
    overflow: hidden;
}
@media only screen and (max-width: 1110px) {
	.rider-img-1,
	.rider-img-2,
	.rider-img-3 {
		width: 96px;
    	height: 96px;
    	margin-right: 10px;
	}
}
@media only screen and (max-width: 375px) {
	.rider-img-1,
	.rider-img-2,
	.rider-img-3 {
		width: 90px;
    	height: 90px;
    	margin-right: 0px;
	}
}	
.rider-img-1:before {
	content: url(../images/about-us/alex.png);
	position: absolute;
	top: -8px;
    left: -22px;
}
@media only screen and (max-width: 1110px) {
	.rider-img-1:before {
		top: -11px;
	    left: -27px;
	}
}
@media only screen and (max-width: 375px) {
	.rider-img-1:before {
		top: -14px;
    	left: -37px;
	}
}
.rider-img-2:before {
	content: url(../images/about-us/steve.png);
	position: absolute;
	top: 0px;
    left: -8px;
}
@media only screen and (max-width: 1110px) {
	.rider-img-2:before {
		top: 0px;
	    left: -15px;
	}
}
@media only screen and (max-width: 375px) {
	.rider-img-2:before {
		top: 0px;
	    left: -22px;
	}
}
.rider-img-3:before {
	content: url(../images/about-us/bill.png);
	position: absolute;
	top: -7px;
    left: -18px;
}
@media only screen and (max-width: 1110px) {
	.rider-img-3:before {
		top: -10px;
    	left: -24px;
	}
}
@media only screen and (max-width: 375px) {
	.rider-img-3:before {
		top: -10px;
	    left: -32px;
	}
}
.rider-txt {
    margin-left: 35px;
}
@media only screen and (max-width: 910px) {
	.rider-txt {
    	margin-left: 10px;
	}
}
.rider-txt-2  {	
    margin-right: 15px;
}
@media only screen and (max-width: 910px) {
	.rider-txt-2  {	
    	margin-right: 10px;
	}
}
@media only screen and (max-width: 869px) {
	.rider-txt-2  {	
    	margin-right: 0;
	}
}
.rider-txt .rider-no,
.rider-txt-2 .rider-no {
	font-size: 25px;
    color: #fff;
    font-family: 'Oswald-Light';
    display: block;
    float: right;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 23px;
    text-transform: uppercase;
} 
@media only screen and (max-width: 910px) {
	.rider-txt .rider-no, 
	.rider-txt-2 .rider-no {
    	margin-top: 18px;
    	font-size: 22px;
	}

}
@media only screen and (max-width: 375px) {
	.rider-txt .rider-no, 
	.rider-txt-2 .rider-no {
    	margin-top: 11px;
    	font-size: 18px;
	}
}
.rider-txt span:nth-of-type(1) {
	font-size: 46px;
	color: #5e5e5e;
	font-family: 'Oswald-Bold';
	text-transform: uppercase;
	line-height: 1.5;
}
@media only screen and (max-width: 910px) {
	.rider-txt span:nth-of-type(1) {
		font-size: 40px;
	}
}
@media only screen and (max-width: 869px) {
	.rider-txt span:nth-of-type(1) {
		font-size: 38px;
	}
}
@media only screen and (max-width: 375px) {
	.rider-txt span:nth-of-type(1) {
		font-size: 28px;
	}
}
.rider-txt-2 span:nth-of-type(1) {
	font-size: 46px;
	color: #5e5e5e;
	font-family: 'Oswald-Bold';
	text-transform: uppercase;
	line-height: 1.5;
}
@media only screen and (max-width: 910px) {
	.rider-txt-2 span:nth-of-type(1) {
		font-size: 38px;
	}
}
@media only screen and (max-width: 869px) {
	.rider-txt-2 span:nth-of-type(1) {
		font-size: 38px;
	}
}
@media only screen and (max-width: 375px) {
	.rider-txt-2 span:nth-of-type(1) {
		font-size: 28px;
	}
}
.rider-txt span:nth-of-type(3) {
	font-size: 16px;
	display: block;
	margin-top: 5px;
	color: #5a5a5a;
	font-family: 'Oswald-Medium';
	line-height: 1.5;
}
@media only screen and (max-width: 375px) {
	.rider-txt span:nth-of-type(3) {
		font-size: 16px;
		line-height: 1;
		text-align: center;
	}
}
.rider-txt-2 span:nth-of-type(3) {
	font-size: 16px;
	display: block;
	margin-top: 5px;
	color: #5a5a5a;
	font-family: 'Oswald-Medium';
	line-height: 1.5;
}
@media only screen and (max-width: 375px) {
	.rider-txt-2 span:nth-of-type(3),
	.rider-txt-2 span:nth-of-type(3) {
		text-align: center;
		line-height: 1;
	}
}

/* WORLD */

.world {
	text-align: center;
	padding: 150px 0 0 0;
	position: relative;
}
@media only screen and (max-width: 869px) {
	.world {
	   padding: 40px 0 0 0;
	}
}
.w-heading {
	padding: 0 25% 100px 25%;
}
@media only screen and (max-width: 869px) {
	.w-heading {
	   padding: 0 25px;
	}
}
.w-heading h1 {
	font-family: 'Oswald-Bold';
	font-size: 68px;
	color: #000;
}
@media only screen and (max-width: 1110px) {
	.w-heading h1 {
	   font-size: 50px;
	}
}
.w-heading span {
	font-family: 'Oswald-Bold';
	font-size: 68px;
	color: #cd0a2d;
}
@media only screen and (max-width: 1110px) {
	.w-heading span {
	   font-size: 55px;
	}
}
.w-heading p {
	font-family: 'Lato';
	font-size: 20px;
	color: #5c5c5c;
}
@media only screen and (max-width: 1110px) {
	.w-heading p {
	   font-size: 18px;
	}
}
.world .wrapper {
    padding: 0 15px;
    box-sizing: border-box;
}
.solo-traveller {
	float: left;
    height: 370px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #fff;
    padding: 27px 27px 0 27px;
    width: 40%;
    margin-top: 28px;
    box-sizing: border-box;
    text-align: center;
}
@media only screen and (max-width: 869px) {
	.solo-traveller {
	   display: block;
	   width: 100%;
	   padding: 27px 52px 0 52px;
	   height: auto;
	}
}
.top {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;;
}
.circle-img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: none;
	background: #a0a0a0;
	position: relative;
    overflow: hidden;
    margin-right: 10px;
}
.circle-img:before {
	content: url(../images/we-are-world/john.png);
	position: absolute;
	top: 2px;
    left: -4px;
}
.desc .name {
	font-family: 'Oswald-Bold';
	font-size: 25px;
	text-transform: uppercase;
	padding-bottom: 4px;
    display: inline-block;
    color: #000;
}
.desc .travel {
	font-family: 'Oswald-Regular';
	font-size: 18px;
	text-transform: uppercase;
	color: #212121;
}
.bottom p {
	font-family: 'Lato-Italic';
	font-size: 18px;
	color: #282828;
}
.dark-rider {
	float: left;
	background: transparent;
	width: 50%;
	padding: 27px 27px 0 27px;
	height: 370px;
	position: relative;
	text-align: center;
}
@media only screen and (max-width: 869px) {
	.dark-rider{
		display: none;
	}
}
.dark-rider img {
	position: absolute;
    right: 50px;
    top: -126px;
}

/* BLACK */

#guide {
	width: 100%;
	background: url('../images/guided-tours/cartoon-world.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 100px 0 0 0;
	position: relative;
}
.g-heading {
	padding-bottom: 50px;
}
.g-heading h1 {
	font-family: 'Oswald-Bold';
	font-size: 68px;
	color: #fff;
}
@media only screen and (max-width: 768px) {
	.g-heading h1 {
		font-size: 40px;
	}
}
.g-heading span {
	font-family: 'Oswald-Bold';
	font-size: 68px;
	color: #cd0a2d;
}
@media only screen and (max-width: 768px) {
	.g-heading span {
		font-size: 45px;
	}
}
.g-heading p {
	font-family: 'Oswald-Medium';
	font-size: 18px;
	color: #fff;
	letter-spacing: 1px;
	padding: 0 25%;
}
@media only screen and (max-width: 768px) {
	.g-heading p {
		font-size: 15px;
		padding: 0 6%;
	}
}
.img-guide {
	position: absolute;
	top: 48%;
    left: 50%;
    transform: translate(-50%, -16%);
    z-index: 1;
}
@media only screen and (max-width: 1360px) {
	.img-guide {
		display: none;
	}
}
#guide img {
	width: 90%;
}
.red-bkg {
    float: left;
    width: 50%;
    background: #cd0a2d;
    height: 500px;
    padding: 100px 0;
    box-sizing: border-box;
}
@media only screen and (max-width: 920px) {
	.red-bkg {
	    width: 100%;
    	height: 400px;
	}
}
.red-content-bkg {
	float: left;
	padding: 0px 16% 0 16%;
	text-align: center;
	color: #fff;
	font-family: "Oswald-Medium";
}
@media only screen and (max-width: 920px) {
	.red-content-bkg {
		width: 100%;
		padding: 0;
	}
}
.red-span {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 42px;
}
.span-left {
	margin-right: 35px;
}
.span-left .large-no {
	font-size: 45px;
}
.span-left span {
	font-size: 20px;
}
.span-right {
	margin-left: 35px;
}
.span-right .larger-no {
	font-size: 75px;
}
@media only screen and (max-width: 1360px) {
	.span-right .larger-no {
		font-size: 60px;
	}
}
@media only screen and (max-width: 1360px) {
	.span-right .larger-no {
		font-size: 45px;
	}
}
.span-right span {
	font-size: 45px;
}
@media only screen and (max-width: 1360px) {
	.span-right span {
		font-size: 30px;
	}
}
@media only screen and (max-width: 1360px) {
	.span-right span {
		font-size: 20px;
	}
}
.red-p {
	font-size: 18px;
	font-family: "Oswald-Medium";
	padding: 0 8%;
	line-height: 1.3;
	width: 80%;
    margin: 0 auto;
}
@media only screen and (max-width: 920px) {
	.red-p {
		padding: 0;
	}
}
.transparent-bkg {
	float: left;
    width: 50%;
    background: transparent;
    height: 500px;
    padding: 100px 0;
    box-sizing: border-box;
}
@media only screen and (max-width: 920px) {
	.transparent-bkg {
	    width: 100%;
    	height: 400px;
	}
}
.transparent-content-bkg {
	float: left;
	padding: 0px 16% 0 16%;
	text-align: center;
	color: #fff;
	font-family: "Oswald-Medium";
}
@media only screen and (max-width: 920px) {
	.transparent-content-bkg {
		width: 100%;
		padding: 0;
	}
}
.transparent-span {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 42px;
}
.transparent-span span {
	text-transform: uppercase;
	font-size: 25px;
}
@media only screen and (max-width: 1360px) {
	.transparent-span span {
		font-size: 20px;
	}
}
.transparent-left {
	margin-right: 40px;
}
.transparent-left .larger-no {
	font-size: 110px;
}
@media only screen and (max-width: 1360px) {
	.transparent-left .larger-no {
		font-size: 60px;
	}
}
@media only screen and (max-width: 1130px) {
	.transparent-left .larger-no {
		font-size: 45px;
	}
}
.transparent-right {
	margin-left: 40px;
}
.transparent-right .large-no {
	font-size: 45px;
}
@media only screen and (max-width: 920px) {
	.transparent-right .large-no {
		font-size: 28px;
	}
}
.transparent-p {
	font-size: 18px;
	font-family: "Oswald-Medium";
	padding: 0 8%;
	line-height: 1.3;
	width: 80%;
    margin: 0 auto;
}
@media only screen and (max-width: 920px) {
	.transparent-p {
		padding: 0;
	}
}

/* TRAVEL BLOG */

.blog {
	padding: 100px 0 50px 0;
}
.blog .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.box-container {
	width: 30%;
	margin-right: 3.3333%;
}
@media only screen and (max-width: 768px) {
	.box-container {
		width: 73%;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.box-container:nth-of-type(3) {
		margin-bottom: 0;
	}
}
.box-container:nth-of-type(3) {
	margin-right: 0;
}
.img-container {
	width: 100%;
	height: 350px;
	position: relative;
	-webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.img-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: grayscale(0%);
}
.img-container:hover img {
	transform: rotate(2deg);
	filter: grayscale(100%);
} 
@media only screen and (max-width: 768px) {
	.img-container:hover img {
		transform: none;
	}
}
.img-container:before {
	content: '';
	position: absolute;
	bottom: -18px;
	left: -14px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 190px 0 0 160px;
	border-color: transparent transparent transparent #cd0a2d;
	-webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	z-index: 1;
}
@media only screen and (max-width: 768px) {
	.img-container:before {
		bottom: 0;
		left: 0;
	}
}
.img-container:hover:before {
	border-color: transparent transparent transparent #ededed;
}
.img-container:hover .cost-container > span, 
.img-container:hover .cost-container > p  {
	color: #cd0a2d;
}
.img-container .cost-container {
	position: absolute;
	bottom: 14px;
	left: 0;
	z-index: 2;
}
@media only screen and (max-width: 768px) {
	.img-container .cost-container {
		bottom: 16px;
    	left: 20px;
	}
}
.img-container .number {
	font-family: 'Oswald-Bold';	
	color: #fff;
	-webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.img-container .number {
	font-size: 30px;
}
.img-container p {
	padding: 2px 0 0 0;
	margin: 0;
	font-family: 'Oswald-Light';
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	-webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.txt-container {
	padding: 40px 15px 15px 0;
	text-align: left;
}
@media only screen and (max-width: 768px) {
	.txt-container {
		padding: 20px 0px 0px 0px;
	}
}
.txt-container span {
    font-family: 'Oswald-SemiBold';
    font-size: 26px;
}
@media only screen and (max-width: 768px) {
	.txt-container span {
		font-size: 24px;
	}
}
.txt-container p {
    font-family: 'Lato-Regular';
    font-size: 18px;
    color: #676767;
}
@media only screen and (max-width: 768px) {
	.txt-container p {
		font-size: 16px;
	}
}
.b-heading {
	padding: 0 25% 50px 25%;
	text-align: center;
}
@media only screen and (max-width: 768px) {
	.b-heading {
		padding: 0 15px 15px 15px;
	}
}
.b-heading h1 {
	font-family: 'Oswald-Bold';
	font-size: 68px;
	color: #000;
}
@media only screen and (max-width: 768px) {
	.b-heading h1 {
		font-size: 50px;
	}
}
.b-heading span {
	font-family: 'Oswald-Bold';
	font-size: 68px;
	color: #cd0a2d;
}
@media only screen and (max-width: 768px) {
	.b-heading span {
		font-size: 50px;
	}
}
.b-heading p {
	font-family: 'Lato';
	font-size: 20px;
	color: #5c5c5c;
}
@media only screen and (max-width: 768px) {
	.b-heading p {
		font-size: 18px;
	}
}

/* START YOUR JOURNEY */

.journey {
	background: url('../images/start-your-journey/your-journey-bkg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 100px 0 120px 0;
	position: relative;
}
@media only screen and (max-width: 768px) {
	.journey {
		padding: 80px 0;
	}
}
.journey .wrapper {
	width: 50%;
}
@media only screen and (max-width: 768px) {
	.journey .wrapper {
		width: 65%;
	}
}
.journey h1 {
	font-family: 'Oswald-SemiBold';
	font-size: 68px;
	color: #fff;
	padding-bottom: 20px;
}
@media only screen and (max-width: 768px) {
	.journey h1 {
		font-size: 50px;
	}
}
.journey p {
	font-family: 'Montserrat-Regular';
	font-size: 16px;
	color: #fff;
	padding-bottom: 20px;
	line-height: 1.6;
}
@media only screen and (max-width: 768px) {
	.journey p {
		font-size: 14px;
	line-height: 1.2;
	}
}
.pin {
	position: absolute;
	bottom: -60px;
	left: 50%;
	transform: translate(-50%, 0%);
}
@media only screen and (max-width: 768px) {
	.pin {
		bottom: -52px;
	}
}
.pin img {
	width: 100%;
}
@media only screen and (max-width: 768px) {
	.pin img {
		width: 80%;
	}
}

/* FOOTER */

.footer-top {
	padding: 130px 0 70px 0; 
}
@media only screen and (max-width: 870px) {
	.footer-top {
		padding: 95px 0 30px 0; 
}
}
.footer-top .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
.email, .phone, .address {
	display: flex;
	width: 33.333%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
@media only screen and (max-width: 870px) {
	.email, .phone, .address {
	display: block;
	width: 100%;
	margin-bottom: 25px;
	text-align: center;
	}
	.email-img, .phone-img, .address-img {
		margin-bottom: 10px;
	}
}
.email-txt, .phone-txt, .address-txt {
	margin-left: 30px;
}
@media only screen and (max-width: 870px) {
	.email-txt, .phone-txt, .address-txt {
		margin-left: 10px;
	}
}
.email-txt span:nth-of-type(1),
.phone-txt span:nth-of-type(1),
.address-txt span:nth-of-type(1){
	font-size: 26px;
	font-family: 'Oswald-SemiBold';
	display: block;
	margin-bottom: 5px;
}
.email-txt span:nth-of-type(2),
.email-txt span:nth-of-type(3),
.phone-txt span:nth-of-type(2),
.phone-txt span:nth-of-type(3),
.address-txt span:nth-of-type(2),
.address-txt span:nth-of-type(3) {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	font-family: 'Montserrat-Medium';
	color: #646464;
}
.email-txt span:nth-of-type(3),
.phone-txt span:nth-of-type(3),
.address-txt span:nth-of-type(3) {
	margin-bottom: 0;
}
.flexible {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.flexible .gold-circle {
	margin-right: 16px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 3px solid #efe080;
	position: relative;
	margin-bottom: 10px;
	-webkit-transition: all .3s ease-in-out;
  	-o-transition: all .3s ease-in-out;
  	transition: all .3s ease-in-out;
}
.flexible .gold-circle:hover {
	transform: scale(.8);
	-webkit-transform: scale(.8);
}
.flexible .gold-circle .fab {
	position: absolute;
	color: #353535;
	top: 15px;
    left: 17px;
    font-size: 32px;
} 
.fa-audible:before {
    content: "\f373";
    position: absolute;
    left: -4px;
}
.fa-instagram:before {
    content: "\f16d";
    position: absolute;
    left: 2px;
}
.footer-bottom {
	width: 100%;
	padding: 30px 0;
	background: #cd0a2d;
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.footer-bottom {
		padding: 70px 0 50px 0;
	}
}
.footer-bottom span {
	display: block;
	color: #fff;
	font-family: 'Montserrat-Regular';
	font-size: 12px;
}
.footer-bottom span a {
	font-size: 12px;
	text-transform: capitalize;
	position: relative;
}
.footer-bottom span a:before {
	position: absolute;
	content: '';
	height: 2px;
	width: 0%;
	bottom: 0;
	background: #fff;
	left: 0;
	-webkit-transition: all .4s ease-in-out;
  	-o-transition: all .4s ease-in-out;
  	transition: all .4s ease-in-out;
}
.footer-bottom span a:hover:before {
	width: 100%;
}
@media only screen and (min-width: 768px) {
	.footer-bottom span {
		font-size: 16px;
	}
	.footer-bottom span a {
		font-size: 16px;
	}
}
.footer-bottom span:nth-of-type(1),
.footer-bottom span:nth-of-type(2) {
	margin-bottom: 12px;
}
.footer-bottom .socials {
	margin-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-bottom .socials .fab {
	position: absolute;
    bottom: 38px;
    right: 35px;
}
